*{
    font-family: 'Montserrat', sans-serif;
}
body{
    margin: 0;
}

/* HEADER */

header{
    background-color: #68d388;
    border-bottom: solid 1.5vh #e98826;
}
header hr{
    border: solid 1px white;
    width: 82vw;
}
header img{
    margin: 5vh 10vw;
}
header p{
    color: white;
    margin: 0 5vw;
    text-align: center;
}
header p:first-child{
    font-size: 32pt;
    font-weight: bolder;
    margin: 10vh 5vw;
}
header p:last-child{
    font-size: 16pt;
    font-weight: 600;
    margin: 20vh 10vw 0;
    text-align: center;
}
header p:nth-child(3){
    font-weight: bold;
    font-size: 20pt;
}
header > div:last-child{
    align-items: center;
    display: flex;
    justify-content: center;
}
header > div:last-child img{
    margin: 10vh 10vw 10vh;
    width: 83vw;
}

/* MAIN */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main div h1{
    color: #e98826;
    font-size: 24pt;
    margin: 5vh 5vw;
    text-align: center;
}
main div > div:first-child{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}
main div > div:nth-child(2) h1{
    font-size: 18pt;
}
main > div:nth-child(2) > h1{
    color: #44f077;
    font-size: 20pt;
    margin: 10vh 10vw 0;
}
main h2{
    font-weight: 500;
    font-size: 14pt;
    color: #717174;;
    text-align: center;
}
main h2 span{
    color: #e98826;
    font-weight: 800;
}
main hr{
    border: solid 1px #cecece;
    color: #cecece;
    width: 90vw;
}
main p{
    color: #717174;
    font-size: 12pt;
    font-weight: 600;
    margin: 0 10vw 5vh;
    text-align: center;
}
main > div > div:nth-child(2) h1, main > div > div:nth-child(6) h1{
    color
    : #44f077;
}
main > div:nth-child(3){
    display: flex;
    flex-direction: column;
    align-items: center;
}
main > div:nth-child(3) > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10vh 10vw;
}
main > div:nth-child(3) > div:first-child{
    border: solid 2px #4d9a91;
    border-radius: 10px;
    margin: 5vh 10vw;
}
main > div:nth-child(3) > div:first-child h1{
    background-color: white;
    color: #4d9a91;
    font-size: 17pt;
    margin-top: -2vh;
    width: 64vw;
}
main > div:nth-child(3) > div:first-child p:nth-child(3n+2){
    align-items: center;
    background-color: #4d9a91;
    border-radius: 10px;
    color: white;
    display: flex;
    font-weight: 800;
    height: 5vh;
    justify-content: center;
    margin-bottom: 1vh;
    width: 50vw;
}
main > div:nth-child(3) > div:first-child p:nth-child(3n+3){
    margin-bottom: 0;
}
main > div:nth-child(3) > div:first-child p:last-child{
    margin-bottom: 3vh;
}
main > div:nth-child(3) > div:first-child hr{
    margin: 3vh 0;
    width: 20vw;
}
main > div:nth-child(3) > div:nth-child(2){
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 15vh;
    justify-content: space-between;
    margin: 0 10vw;
    width: 75vw;
}
main > div:nth-child(4){
    display: flex;
    align-items: center;
    flex-direction: column;
}
main > div:nth-child(4) > div:first-child{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 2px #e7007d;
    border-radius: 10px;
    margin: 10vh 10vw 5vh 10vw;
}
main > div:nth-child(4) > div:first-child h1{
    background-color: white;
    color: #e7007d;
    font-size: 16pt;
    margin-top: -2vh;
    width: 72vw;
}
main > div:nth-child(4) > div:first-child p:nth-child(3n+2){
    align-items: center;
    background-color: #e7007d;
    border-radius: 10px;
    color: white;
    display: flex;
    font-weight: 800;
    height: 5vh;
    justify-content: center;
    margin-bottom: 1vh;
    width: 50vw;
}
main > div:nth-child(4) > div:first-child p:nth-child(3n+3){
    margin-bottom: 0;
}
main > div:nth-child(4) > div:first-child p:last-child{
    margin-bottom: 3vh;
}
main > div:nth-child(4) > div:first-child hr{
    margin: 3vh 0;
    width: 20vw;
}
main > div:nth-child(4) > div:nth-child(2){
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 10vw;
    width: 75vw;
}

/* SECTION */

section{
    align-items: center;
    background-color: #f5f5f5;
    border-bottom: solid 1.5vh #e7007d;
    display: flex;
    flex-direction: column;
}
section > div h1{
    color: #e7007d;
    text-align: center;
    margin: 5vh 10vw;
}
section > div > div > div:first-child{
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}
section > div > div > div h1{
    font-size: 18pt;
}
section > div > div:first-child h1{
    color: #e98826;
}
section p{
    color: #717174;
    font-size: 12pt;
    font-weight: 500;
    margin: 0 10vw 5vh;
    text-align: center;
}
section > div > div:nth-child(2) h1, section > div > div:nth-child(3) h1{
    color: #44f077;
}
section + section{
    align-items: center;
    background-color: white;
    display: flex;
    flex-direction: column;
}
section + section > h1{
    color: #e98826;
    font-size: 20pt;
    margin: 5vh 10vw;
    text-align: center;
}
section + section > div > div > div{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0;
}
section + section > div > div > div:first-child{
    margin: 0;
}
section + section > div > div > div:first-child h1{
    color: #717174;
}
section + section > div > div ul{
    color: #717174;
    margin: 0 10vw;
}
section + section > div > div li{
    margin: 5vh 0;
}
